<footer class="py-5" style="background-color: #ECFDF5; color: #064E3B;">
    <div class="container">
      <div class="row">
        <div class="col-6 col-md-3 mb-3">
          <h5 style="color: #064E3B;">Culinary Hub</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link text-body-secondary">About Us</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link text-body-secondary">Join Our Team</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link text-body-secondary">Latest News</a></li>
          </ul>
        </div>
  
        <div class="col-6 col-md-3 mb-3">
          <h5 style="color: #064E3B;">Key Ingredients</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link text-body-secondary">Recipe Import</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link text-body-secondary">Shopping Lists</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link text-body-secondary">Cooking Tips</a></li>
          </ul>
        </div>
  
        <div class="col-6 col-md-3 mb-3">
          <h5 style="color: #064E3B;">Connect</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link text-body-secondary">@CulinaryHub</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link text-body-secondary">@RecipeKeeper</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link text-body-secondary">Community Forum</a></li>
          </ul>
        </div>
  
        <div class="col-md-3 mb-3">
          <h5 style="color: #064E3B;">Kitchen Wisdom</h5>
          <p style="color: #059669;">Sign up for chef insights and kitchen hacks.</p>
          <form class="d-flex">
              <input type="email" class="form-control" placeholder="cook@recipekeeper.com" style="border-top-right-radius: 0; border-bottom-right-radius: 0;">
              <button class="btn btn-outline-dark" type="button" style="border-top-left-radius: 0; border-bottom-left-radius: 0;"><img src="assets/righticon.png" alt=""></button>
          </form>
      </div>      
      </div>
  
      <hr class="my-4 bg-light">
  
      <div class="d-flex justify-content-between align-items-center">
        <p class="m-0">&copy; <%= new Date().getFullYear() %> Recipe Keeper</p>
        <ul class="list-unstyled d-flex mb-0">
          <li class="ms-3"><a href="#"><i class="bi bi-twitter text-body-secondary"></i></a></li>
          <li class="ms-3"><a href="#"><i class="bi bi-instagram text-body-secondary"></i></a></li>
          <li class="ms-3"><a href="#"><i class="bi bi-facebook text-body-secondary"></i></a></li>
        </ul>
      </div>
    </div>
  </footer>
  
</main>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Bootstrap bundle (includes Popper) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
