<%- include('./partials/header.ejs') %>

<div class="Hero" style="background-color: #064E3B;">
  <div class="container col-xxl-8 px-3 py-4">
    <div class="row flex-lg-row align-items-center g-4 py-4">
      <div class="col-lg-6 order-lg-2 mt-lg-4">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 hero-heading">Savor Every Flavor</h1>
        <p class="lead" style="font-family: 'Lato', sans-serif; color: #E5E7EB; font-weight: 500;">Organize your culinary collection</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <form action="/random-recipes" method="GET">
            <button type="submit" class="btn btn-primary btn-lg me-md-2 mb-4">Discover Recipes</button>
          </form>
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <img src="assets/heroimg.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>
</div>

<div class="Hero2 py-5" style="background-color: #ECFDF5;">
  <div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 hero-heading2">Culinary Control</h2>
    <p class="lead" style="font-family: 'Lato', sans-serif; color: #059669; font-weight: 500;">All your recipes in one place.</p>
    <div class="row g-4 py-5">
      <div class="col">

        <div class="p-3" style="background-color: #DCFCE7; border-radius: 20%;">
          <h5 class="fw-bold mb-0 fs-4 text-body-emphasis">Recipe Catalog</h5>
          <p>Add and categorize your favorite recipes for easy access anytime.</p>
        </div>
      </div>
      <div class="col">
        <div class="p-3" style="background-color: #DCFCE7; border-radius: 20%;">
          <h5 class="fw-bold mb-0 fs-4 text-body-emphasis">Personal Notes</h5>
          <p>Jot down modifications or thoughts for a personal touch to any dish.</p>
        </div>
      </div>
      <div class="col">
        <div class="p-3" style="background-color: #DCFCE7; border-radius: 20%;">
          <h5 class="fw-bold mb-0 fs-4 text-body-emphasis">Quick Editing</h5>
          <p>Effortlessly update or remove recipes and notes with just a few clicks.</p>
        </div>
      </div>
      <div class="col">
        <div class="p-3" style="background-color: #DCFCE7; border-radius: 20%;">
          <h5 class="fw-bold mb-0 fs-4 text-body-emphasis">Family Sharing</h5>
          <p>Share your treasured recipes with family members within the system.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="Hero3 py-5" style="background-color: #ECFDF5;">
  <div class="container col-xxl-8 px-3 py-2">
    <div class="container px-2 py-5" style="display: flex; justify-content: center; align-items: center;">
      <div style="text-align: center;">
        <h2 class="pb-2 hero-heading2">Cooking Simplified</h2>
        <p class="lead" style="font-family: 'Lato', sans-serif; color: #059669; font-weight: 500;">Streamline your meal planning and preparation process.</p>
      </div>
    </div>    
    <div class="row flex-lg-row align-items-center g-5 py-5">
      <!-- Left Side Content -->
      <div class="col-lg-6">
        <div class="row g-4">
          <div class="col-12">
            <div class="d-flex align-items-start py-4">
              <img src="assets/chaticon.png" alt="iconchat" class="img-fluid me-3" style="width: 30px; height: 30px;">
              <div class="mx-3">
                <h5 class="fw-bold text-body-emphasis">Cloud Sync</h5>
                <p>Access your recipes from any device, anywhere, at any time.</p>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="d-flex align-items-start py-4">
              <img src="assets/chaticon.png" alt="iconchat" class="img-fluid me-3" style="width: 30px; height: 30px;">
              <div class="mx-3">
                <h5 class="fw-bold text-body-emphasis">Intuitive Design</h5>
                <p>Navigate seamlessly with a user-friendly interface and layout.</p>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="d-flex align-items-start py-4">
              <img src="assets/chaticon.png" alt="iconchat" class="img-fluid me-3" style="width: 30px; height: 30px;">
              <div class="mx-3">
                <h5 class="fw-bold text-body-emphasis">Secure Backup</h5>
                <p>Never lose a recipe with our secure and reliable backup system.</p>
              </div>
            </div>
          </div>
        </div>
      </div>  
      <!-- Right Side Image -->
      <div class="col-lg-6">
        <img src="assets/Device.png" class="d-block mx-lg-auto img-fluid" alt="Iphone" loading="lazy">
      </div>
    </div>
  </div>  
</div>

<div class="signup">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card" style="background-color: #ECFDF5;">
          <div class="card-header1">Join Today</div>
          <div class="card-body">
            <h5 class="card-title1">Start your culinary journey today!</h5>
            <a href="#" class="btn btn-block btn-google">
              <img class="mx-2" src="assets/Google-Icon.png" alt="googleicon"> Sign Up With Google
            </a>
            <div class="text-center my-3 d-flex align-items-center">
              <div class="flex-grow-1">
                <hr class="mx-3" style="border-top: 1px solid #A7F3D0;">
              </div>
              <span class="mx-2" style="color: #059669;">or</span>
              <div class="flex-grow-1">
                <hr class="mx-3" style="border-top: 1px solid #A7F3D0;">
              </div>
            </div>
            <form>
              <div class="mb-3">
                <label for="email" class="form-label">Email Address</label>
                <input type="email" class="form-control py-4" id="email" placeholder="Enter your email">
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control py-4" id="password" placeholder="Enter your password">
              </div>
              <button type="submit" class="btn btn-primary btn-block">Register with Email</button>
            </form>
            <small class="text-muted mt-3">
              By signing up you accept our <a href="#">Terms</a> and <a href="#">Privacy Policy</a>.
            </small>
          </div>
          <div class="card-footer text-center">
            <span>Already have an account?</span>
            <a href="#">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>


<h2>Recipe Search</h2>
<form action="/recipes" method="GET">
  <label for="query">Search for recipes:</label>
  <input type="text" id="query" name="query" required />
  <button type="submit">Search</button>
</form>

<br />

<%- include('./partials/footer.ejs') %>
