body {
    background-color: #ECFDF5;
    color: #064E3B;
}

.navbar {
    background-color: #ECFDF5;
}

.navbar-light .navbar-nav .nav-link {
    color: #064E3B !important;
    font-weight: 450;
    font-family: "Lato", sans-serif;
}

.btn-get-started {
    background-color: #65A30D !important;
    color: #ECFDF5 !important;
    border: none;
}

.navbar-nav .nav-item {
    margin: 1vh;
}

.btn-get-started:hover {
    background-color: #064E3B !important;
    color: #ECFDF5 !important;
}

/* Additional styles for footer */
.text-body-secondary {
    color: #059669 !important;
}

.form-control {
    width: 100%;
}

.btn-outline-dark {
    background-color: #65A30D !important;
    border: none !important;
}

.btn-outline-dark:hover {
    background-color: #064E3B !important;
}

/* Custom styles for hero heading */
.hero-heading {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 72px;
    color: #D1FAE5;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.btn-primary {
    font-family: 'Lato', sans-serif; 
    padding: 1.5vh 10vh 1.5vh 10vh !important; 
    margin-top: 1.5vh !important;
    color: #ECFDF5 !important;
    background-color: #65A30D !important;
    border: none !important;
}